<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <main class="add-product-form">
        
        <form action="/admin/<% if(editing){ %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data" novalidate>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <h1 class="form-title"><% if(editing){ %>Edit Product<% } else { %>Add New Product<% } %></h1>

            <% if (errorMessage) { %>
                <div class="user-message user-message--error">
                    <span class="error-icon">⚠️</span> <%= errorMessage %>
                </div>
            <% } %>

            <p class="form-subtitle">
                Fill in the details below to <% if(editing){ %>edit<% } else { %>add<% } %> a product.
            </p>


            <input 
                class="<%= validationErrors.find(e => e.path === 'title') ? 'invalid' : '' %>"
                type="text" 
                name="title" 
                placeholder="Enter product title..." 
                required
                value="<%if(editing || hasError ){ %><%= product.title %><% } %>"
            >

            <!-- <input 
                class="<%= validationErrors.find(e => e.path === 'imgUrl') ? 'invalid' : '' %>"
                type="text" 
                name="imgUrl" 
                placeholder="Enter image URL..." 
                required
                value="<%if(editing || hasError ){ %><%= product.imgUrl %><% } %>"
            > -->

            <input 
                type="file" 
                name="img" 
                required
            >

            <input 
                class="<%= validationErrors.find(e => e.path === 'price') ? 'invalid' : '' %>"
                type="number" 
                name="price" 
                placeholder="Enter product price..." 
                step="0.01" 
                required
                value="<%if(editing || hasError ){ %><%= product.price %><% } %>"
            >

            <textarea 
                class="<%= validationErrors.find(e => e.path === 'description') ? 'invalid' : '' %>"
                name="description" 
                placeholder="Enter product description..." 
                rows="4"
                required
            ><%if(editing || hasError ){ %><%= product.description %><% } %></textarea>

            <% if(editing) { %>

                <input type="hidden" value="<%= product._id %>" name="productId">

            <% } %>
            
            <button type="submit"><% if(editing){ %> Update Product <% } else { %> Add Product <% } %></button>

        </form>
    </main>


<%- include('../includes/end.ejs') %>